@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 17% 97%; /* Arena Blanquecina */
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%; /* Blanco */
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 212 92% 45%; /* Azul Oceáno */
    --primary-foreground: 0 0% 100%;

    --secondary: 44 23% 41%; /* Fiebre Dorada */
    --secondary-foreground: 0 0% 100%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;

    --accent: 12 100% 50%; /* Deutsch Laranja */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 212 92% 45%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 212 92% 55%;
    --primary-foreground: 240 10% 3.9%;

    --secondary: 44 23% 51%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 12 100% 60%;
    --accent-foreground: 240 10% 3.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 212 92% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}